<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>News Letter</title>
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('register') }}">New Admin Register</a></li>
      {% else %}
        <li><a href="{{ url_for('login') }}">Admin Login</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block content %}{% endblock %}
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Hemakesh Muppidi</a>.
  </div>
</body>
</html>